body{
    background-color:#efefef;
}



.publish_main{
    margin: 30px;
    background-color: white;
}



.btn_publish{
    float: right;
    margin-bottom: 15px;
}


.media-object{
    width: 38px;
    height: 38px;
}



.timetext{
    font: size 12px;
    font-weight: normal;
    color: #999
}